*/10 6-22 * * *   docker run --rm -v /home/pi/metar-map/config.json:/app/data/custom.json zagraves/metar-map scan
55 22 * * *       docker run --rm -v /home/pi/metar-map/config.json:/app/data/custom.json zagraves/metar-map stop
