*/10 6-22 * * *   docker run --rm --privileged -v /home/pi/metar-map/config.json:/app/data/custom.json zagraves/metar-map scan
55 22 * * *       docker run --rm --privileged -v /home/pi/metar-map/config.json:/app/data/custom.json zagraves/metar-map stop
0 2 * * sun       docker pull zagraves/metar-map:latest