*/10 6-22 * * *   docker run --rm -v /home/pi/metar-map/config.json:/app/data/custom.json quay.io/zagraves/metar-map:latest scan
55 22 * * *       docker run --rm -v /home/pi/metar-map/config.json:/app/data/custom.json quay.io/zagraves/metar-map:latest stop