[Unit]
Description=metar-map
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/pi/metar-map
ExecStart=/home/pi/metar-map/start.sh 2>&1 | /usr/bin/logger -t metarmap
ExecStop=/home/pi/metar-map/stop.sh 2>&1 | /usr/bin/logger -t metarmap

[Install]
WantedBy=default.target
