[Unit]
Description=metar-map
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/pi/metar-map
ExecStartPre=-/home/pi/metar-map/test.sh
ExecStart=/home/pi/metar-map/start.sh
ExecStop=/home/pi/metar-map/stop.sh

[Install]
WantedBy=default.target
