[Unit]
Description=metar-map
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/pi/metar-map
ExecStartPre=-/usr/bin/npm start test
ExecStart=/usr/bin/npm start scan
ExecStop=/usr/bin/npm start stop

[Install]
WantedBy=default.target
